/* utility classes */
.h-primary{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(67, 191, 0);
}
.h-primary:hover{
    cursor: pointer;
}
.h-secondary{
    /* color: rgb(67, 191, 0); */
    text-align: center;
    font-size: 1.6rem;
}

.btn-primary{
    height: 40px;
    /* width: 140px; */
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bolder;
    color: white;
    background-color: rgb(67, 191, 0);
    transition: all ease 0.5s;
}
.btn-primary:hover{
    background-color: rgb(149, 211, 252);
    box-shadow: 2px 2px rgb(28, 123, 28);
    color: black;
    font-size: 1rem;
    width:200px;
    cursor: pointer;
}
.btn-secondary{
    height: 40px;
    /* width: 140px; */
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    background-color: rgb(67, 191, 0);
    transition: all ease 0.5s;
}
.btn-secondary:hover{
    background-color: rgb(149, 211, 252);
    box-shadow: 2px 2px rgb(28, 123, 28);
    color: black;
    font-size: 1rem;
    /* width:100px; */
    cursor: pointer;
}
html{
    scroll-behavior: smooth;

}
body{
    margin:0px;
    padding:0px;
    background-color: rgb(3 11 37);
    color: white;
    font-family: 'Ubuntu', sans-serif;

}

/* Navigation bar */
.container-1{
    margin: 0px;
    padding: 0px;
    background-color:  rgb(3 11 37);
    display: flex;
}

/* logo  */
.logo{
    display: flex;
    margin-left: 20px;
}
#logoImage{
    /* background-color: rgb(107 204 92); */
    height: 40px;
    width: 40px;
    margin-top: 20px;
}

.logo:hover{
    cursor: pointer;
    color: rgb(67, 191, 0);

}

/* nav */

.navMenu{
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.navMenu li{
    list-style: none;
    margin: 15px 5px;
}

.navMenu li a{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 15px;
    transition: all ease 0.5s;
}

.navMenu li a:hover{
    color: rgb(67, 191, 0);
    text-decoration: underline;
    font-size: 1.1rem;
}


/* login  */
#login{
    /* display: block;
    width: 100px; */
    position: absolute;
    top:25px;
    right: 40px;
}

#login-btn{
    height: 40px;
    width: 140px;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
    background-color: rgb(67, 191, 0);
    transition: all ease 0.5s;

}

#login-btn:hover{
    background-color: rgb(149, 211, 252);
    box-shadow: 2px 2px rgb(28, 123, 28);
    color: black;
    font-size: 1rem;
    width:200px;
    cursor: pointer;
}

#login-btn a{
    text-decoration: none;
    color: white;
}

/* background Image */

.container-2::before{
    content: "";
    background: url(../images/db_bg1.jpg) center center/cover no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: 0.5; */
}


/* home css */
.container-2{
    display: flex;
    justify-content: space-evenly;
}

.box-1{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 40%;
    /* text-align: center; */
}

#header1{
    font-size: 2.5rem;
    /* margin-block-start: 0em;
    margin-block-end: 0em; */
}
#header1 h1{
    margin: 0px;
    padding-left: 100px;
}

#header2{
    font-size: 2.5rem;
}
#header2 h1{
    text-align: right;
    margin: 0px;
    padding-right: 100px;
}

#headPara{
    /* font-size: 1.5rem; */
    text-align: center;
}



/* About section */
.about{
    margin: 0px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color:rgb(3 11 37);
}
.aboutBox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 50px;
}
.box-3{
    width: 50%;
    /* border: 2px solid white; */
    /* padding: 20px 50px; */
    margin-right: 50px;
}

.box-3 img{
    height: 300px;
    width: 80%;
    padding-left: 70px;
    
}
.box-4{
    width: 50%;
    /* border: 2px solid white; */
    text-align: center;
    padding: 5px 30px;
}


/* Services section */
.services{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgb(3 11 37);
}

.service{
    border: 1px solid white;
    margin: 20px;
    height: 370px;
    width: 32%;
    text-align: center;
}

.service img,.Box img{
    height: 200px;
    width: 200px;
}
.service button{
    margin: 20px auto;
    height: 40px;
    width: 240px;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    transition: all ease 0.5s;
    background-color: rgb(67, 191, 0);
}
.service button a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
.service button:hover{
    color: black;
    background-color: rgb(149, 211, 252);
    box-shadow: 2px 2px rgb(28, 123, 28);
    font-size: 1.4rem;
    width:200px;
    cursor: pointer;
}


/* team information */
.team{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
    background-color:  rgb(3 11 37);

}

.members{
    display: flex;
    /* border: 2px solid white; */
    justify-content: center;
    align-items: center;
    width: 95%;
}

.Box{
    margin: 40px 100px;
    width:50%;
    /* border: 2px solid red; */
}

.Box img{
    margin-left: 200px;
}
.Box ul{
    margin-right: 200px;
}
.Box ul li{
    list-style: none;
}


/* contact form */
#contactForm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    height: auto;
    background-color:  rgb(3 11 37);
}

.contact1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    /* margin: auto; */
    height: auto;
    /* border: 1px solid white; */
}
.contact1 div{
    padding: 5px ;
    margin: 5px;
}
.contact1 div input,.contact1 div textarea{
    color: white;
    border: 2px solid black;
    font-weight: bold;
    background-color:rgb(3 11 37) ;
    border-top: none;
    border-left: none;
    border-right: none;
}
input[type='text' ] , input[type='email'],input[type = 'password']{
    width: 240px;
    height: 20px;
}

.contact2{
    /* border: 1px solid white; */
    padding:10px;
}
.contact2 li{
    list-style: none;
    padding: 5px;
    margin: 5px;
}

.submit-btn,.reset-btn{
    margin: 20px auto;
    height: 25px;
    width: 120px;
    padding: 3px;
    border-style: none;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
    background-color: rgb(67, 191, 0);
    transition: all ease 0.5s;
}
.submit-btn:hover,.reset-btn:hover{
    color: black;
    background-color: rgb(149, 211, 252);
    box-shadow: 2px 2px rgb(28, 123, 28);
    font-size: 1rem;
    width:100px;
    cursor: pointer;
}



/* college list page,hostel and mess also */
.tableContent{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.clgContainer,.hostelContainer,.messContainer{
    background-color: rgb(5, 15, 48);
    margin: 0px auto;
    text-align: center;
}
table{
    margin: 0px auto;
    margin-top: 50px;
}
th,td{
    border-collapse: collapse;
    border: 1px solid white;
}
th,td{
    padding : 7px;
}


#collegeInfo,#hostelInfo,#messInfo{
    width: 50%;
    margin:  0px auto;
    border: 3px solid black;
}

#collegeInfo input,#hostelInfo input,#messInfo input{
    width: 300px;
}

#clgTable,#hTable,#mTable,#searchClgTable{
    display: none;
}



#searchCollege{
    margin-top: 20px;
    left: 300px;
    top: 0px;
    position: relative;
}



/* login page */
.loginContainer{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#loginPage,#registerPage{
    align-items: center;
    /* border: solid 1px white; */
    width: 50%;

}

#loginInfo, #registerInfo{
    width: 70%;
    margin: auto;
}

